.imagen { 
    width: 50% !important;
    height: 10%;
}

.card {
    border: 1px solid;
    padding: 2%;
    width: 35%;
    margin-left: 20%;
    margin-bottom: 3%;
}

.botonEliminar {
    padding: 11%;
    margin-top: 55%;
}
